<div ng-controller="SignInController">

  <div id="signIn_container" class="container">
    <div class="row">
      <img id="cerebro_icon" src="../../images/Cerebro-icon.png" class="img-circle">
    </div>

    <div class="row">
      <div class="text-center">
        <a id="signin_button" class="btn btn-lg btn-social btn-google" ng-click="onLogInButtonClick()">
          <span class="fa fa-google"></span> Se connecter
        </a>
      </div>
    </div>
  </div>
