<!--Add buttons to initiate auth sequence and sign out-->
<div ng-controller="FilesManagerController">

  <button type="button" class="btn btn-dark" ng-click="onLogInButtonClick()">Extraire données</button>
  <br>

  <div id="main_content">
    <pre id="content"></pre>
  </div>

</div>
