<div class="row">
<div class="jumbotron">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Type</th>
        <th>Surface (m²)</th>
        <th>Nb de pièces</th>
        <th>Pix</th>
        <th>Pix/m²</th>
        <th>Ville</th>
        <th>Quartier</th>
        <th>URL</th>
        <th>Référence</th>
        <th>Date de publication</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A remplir</td>
        <td>A remplir</td>
        <td>A remplir</td>
        <td>A remplir</td>
        <td>A remplir</td>
        <td>A remplir</td>
        <td>A remplir</td>
        <td>A remplir</td>
        <td>A remplir</td>
        <td>A remplir</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
